:root {
    --table_color: black;
}

th,
td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;
}

.md-typeset__table {
    line-height: 1;
}

.md-typeset__table table:not([class]) {
    font-size: .74rem;
    border-color: var(--table_color);
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
    border: 1px solid var(--md-typeset-table-color);
    border-color: var(--table_color);
}


/* light mode alternating table bg colors */

.md-typeset__table tr:nth-child(2n) {
    background-color: #cac8c827;
}


/* dark mode alternating table bg colors */

[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
    background-color: hsla(var(--md-hue), 25%, 25%, 1)
}